.mobile-menu {
	position: absolute;
	z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
	top: 0;
	margin-top: -70vh;
    height: fit-content;
    width: 100%;
    background-color: #ED7D4C;
    padding: 24px 16px 24px 60px;
	color: #fff;
	transition: transform 0.7s ease-in;
}

.mobile-menu.visible {
	transform: translateY(70vh);
}

.mobile-menu .cross-icon {
    position: absolute;
    top: 0;
    margin-top: 20px;
    right: 0;
    margin-right: 16px;
    width: 36px;
    height: 36px;
}

.mobile-menu-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
	padding-bottom: 20px;
	line-height: 36px;
}

.mobile-menu-top p {
    font-size: 16px;
    /* margin: 12px 0 16px 0; */
}

.mobile-menu-middle a {
	color: #fff;
	text-decoration: none;
}

.mobile-menu-middle div img,
.mobile-menu-bottom div img {
    margin-right: 22px;
    width: 24px;
}

.mobile-menu-middle div,
.mobile-menu-bottom div {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin-bottom: 19px;
    max-height: 35.2px;
    font-size: 24px;
}

.mobile-menu-middle div img,
.mobile-menu-bottom div img {
    margin-right: 12px;
    width: 24px;
}

.border-line {
    background-color: #fff;
    height: 1px;
    width: 290px;
    margin-bottom: 22px;
}

.mobile-menu-bottom a {
	color: #fff;
    text-decoration: none;
    
}

.mobile-menu-bottom,
.mobile-menu-middle {
    width: 100%;
    display: flex;
    flex-direction: column;
}
