.hero {
    position: relative;
    width: 100%;
    height: 280px;
    padding: 0 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
	z-index: 0;
    margin-bottom: 12px;
    background-image: url("/assets/images/hero.jpg");
    background-position: center;
    background-size: contain;
}

.hero span {
	font-size: 12px;
}

.hero p {
	font-size: 16px;
	width: 265px
}

.hero p::first-letter {
	text-transform: capitalize;

}

.hero h1 {
	text-transform: capitalize;
	width: 150px;
	font-size: 30px;
}