.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input {
    height: 43px;
    background-color: #F4F4F4;
    width: 80vw;
    border: none;
    outline: none;
}

.icon {
    height: 42px;
    width: 59px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    border-radius: 5px;
    font-size: 16px;
}

.icon img {
    max-height: 20px;
    max-width: 20px;
}

.login-welcome {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    text-align: center;
    margin-top: 40px;
}