.soundcloud-player {
    width: 100%;
	height: 30vh;
	padding-top: 10vh;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.soundcloud-player .player {
	width: 100%;
	/* background: #8973B8; */
    display: flex;
    flex-direction: column;
	justify-content: space-between;
}

.soundcloud-player .player .controls {
	padding: 0 88px 0 16px;
	height: 50px;
	background: #8973B8;
}

.soundcloud-player .player .progress {
	width: 100%;
	height: 100%;
	border-right: 3px solid #fff;
	position: relative;
	z-index: 1;
}

.soundcloud-player .progress-container {
	position: relative;
	display: flex;
	align-items: center;
	height: 17px;
}

.soundcloud-player .progress-container:after {
	background: rgba(255, 255, 255, 0.35);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 7px;
	content: "";
}

.soundcloud-player .player > .controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.soundcloud-player button {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.soundcloud-player .player button svg {
    fill: white;
}

.soundcloud-player .player button {
	width: 24px;
	height: 24px;
}

.soundcloud-player .player .prev-button {
    background: url("/assets/svgs/previous.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.soundcloud-player .player .replay-button {
    background: url("/assets/svgs/replay-10.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.soundcloud-player .player .forward-button {
    background: url("/assets/svgs/forward-10.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.soundcloud-player .play-button {
	background: url("/assets/svgs/play-big.svg");
    background-position: center;
    background-size: contain;
	background-repeat: no-repeat;
}

.soundcloud-player .play-button.playing {
	background: url("/assets/svgs/pause.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.prev-button > svg, .replay-button > svg, .forward-button > svg, .play-button > svg {
    display: none;
}

.soundcloud-player .play-button {
	min-width: 64px;
	min-height: 64px;
}

.soundcloud-player .play-button.playing {
	min-width: 64px;
	min-height: 64px;
}

.soundcloud-player .timer {
	color: #fff;
}