.header {
    position: relative;
    width: 100%;
    height: 280px;
    padding: 0 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
	z-index: 0;
	margin-bottom: 12px;
}

.header span {
	font-size: 12px;
}

.header p {
	font-size: 16px;
	width: 265px
}

.header p::first-letter {
	text-transform: capitalize;

}

.header h1 {
	text-transform: capitalize;
	width: 150px;
	font-size: 30px;
}