.header {
    position: relative;
    width: 100%;
    height: 280px;
    padding: 0 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: white;
    z-index: 0;
    /* background-size: cover; */
}

.header p {
    font-size: 12px;
}