.footer {
    width: 100%;
    height: 10vh;
    background: #ED7D4C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.footer a {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
}

.footer .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 15%;
}