.icon-box {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3D8FAA;
}

.icon-box.podcast {
    background: #8973B8;
}

.icon-box.large {
    height: 42px;
    width: 42px;
}
.icon-box.course {
    background: #ED7D4C;
}

.date {
    max-width: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}